<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TitanCraft Information Portal</title>

    <!-- Markdown editor for Locations -->
    <link rel="stylesheet" href="http://lab.lepture.com/editor/editor.css"/>
    <script type="text/javascript" src="http://lab.lepture.com/editor/editor.js"></script>
    <script type="text/javascript" src="http://lab.lepture.com/editor/marked.js"></script>

    <!-- Boostrap 4 CSS / JS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}"/>
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}"/>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center">
    <ul class="navbar-nav">
        {% if user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'list_stock' %}">Browse Shops</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'list_services' %}">Browse Services</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'list_farms' %}">Browse Farms</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'list_locations' 'Overworld' %}">Overworld</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'list_locations' 'End' %}">The End</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'list_locations' 'Nether' %}">The Nether</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'list_locations' 'Shopping-District' %}">Shopping District</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'list_locations' 'Entertainment-District' %}">Entertainment District</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'list_locations' 'Above' %}">The Above</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'list_locations' 'Resource-World' %}">Resource World</a></li>

            <li class="nav-item"><a class="nav-link" href="{% url 'manage_locations' %}">Manage Locations</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Log Out</a></li>
        {% else %}
            <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Log In</a></li>
        {% endif %}
    </ul>
</nav>
<div class="title-bar d-flex justify-content-center">
    <a href="{% url 'index' %}">
        <img alt="Tango Tek Logo" class="rounded-circle" src="https://yt3.ggpht.com/ytc/AKedOLSz2R7xKZtt4T0a0mq5CMQYE6AP0k1EeZJgGmq0pQ=s88-c-k-c0x00ffffff-no-rj">
        <img alt="Titancraft Information Portal" class="title-logo" src="{% static 'images/title.png' %}">
        <img alt="Tango Tek Logo" class="rounded-circle" src="https://yt3.ggpht.com/ytc/AKedOLSz2R7xKZtt4T0a0mq5CMQYE6AP0k1EeZJgGmq0pQ=s88-c-k-c0x00ffffff-no-rj">
    </a>
</div>
<main class="container topmast">
{#    <div class="content" align="center">#}
{#        <img alt="Under Construction" src="{% static 'images/under_construction.png' %}" width="25%">#}
{#        <p>Site is still under construction! DM Cookiehook with questions or suggestions</p>#}
{#    </div>#}
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</main>
</body>
</html>
