{% extends 'components/base.html' %}
{% load markdownify %}
{% block content %}
    {% if is_maintainer %}
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="{% url 'modify_location' location.slug %}">Update/Delete Location</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'modify_stock' location.slug %}">Add Stock</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'modify_service' location.slug %}">Add Service</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'modify_farm' location.slug %}">Add Farm</a></li>
            </ul>
        </nav>
    {% endif %}
    <div class="row">
        <div class="col">
            <h2>{{ location.name }}</h2>
            <p>Location: {{ location.x_pos }}/{{ location.y_pos }}/{{ location.z_pos }} ({{ location.region }})</p>
            <p>{{ location.description|markdownify }}</p>
        </div>
        <div class="col">
            <h2>Maintainers</h2>
            <div class="row">
                {% for detail in maintainers %}
                    <div class="col">
                        <img class="rounded-circle" alt="{{ detail.username }} avatar" src="{{ detail.avatar }}">
                        <h4>{{ detail.username }}</h4>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% if all_stock %}
        <h2>Stock</h2>
        <div class="topmast">
            {% include 'components/list_stock.html' %}
        </div>
    {% endif %}
    {% if all_services %}
        <h2>Services</h2>
        <div class="topmast">
            {% include 'components/list_services.html' %}
        </div>
    {% endif %}
{% endblock %}
