{% extends 'components/base.html' %}
{% block content %}
    <h1>How to use this site</h1>
    <p>
        This is broken down into sections on how to find what you're looking for, or add a new location to the records.
        If you need any help that isn't covered below, message Cookiehook#1528 on Discord
    </p>

    <h2>Log in</h2>
    <p>
        To prevent any external shenanigans, you must link your Discord account and log in before accessing
        the rest of the site. This is simple as two clicks:
    </p>
    <ul>
        <li>Click the <em>Log In</em> link at the top of the page</li>
        <li>Click the <em>Authorise button on Discord</em></li>
    </ul>
    <p>
        You will not be able to access any other parts of the site until you have created an account.
    </p>

    <h2>Getting Around</h2>
    <p>
        To navigate around the site, use the navigation bar at the top of the screen. These links are present
        on every page. The home page also contains the same links, with more context on what each section means.
    </p>

    <h2>Shopping for Items, Services or Farms</h2>
    <p>
        If your goal is to buy or trade something, use the three <em>Browse...</em> links:
    </p>
    <ul>
        <li>Browse Shops - Search for any items for sale. You can search by Item, Enchantment or Potion.</li>
        <li>Browse Services - Search for services such as chunk mining or chest monster recovery.</li>
        <li>Browse Farms - Search for any publically accessible farms. You can search by item, mob or whether this is an
            XP farm.
        </li>
    </ul>

    <h2>Finding Interesting Locations</h2>
    <p>
        There are other locations in TitanCraft that are general points of interest. Such as attractions in the Entertainment District,
        resetting Monuments and Mansions, or End Cities. To find these, click on the "Browse Locations" link, and search
        based on region and location details.
    </p>

    <h2>Creating and Maintaining a Location</h2>
    <p>
        To create a new location, click "Manage Locations" and fill out the form to create a location. The description
        is optional, but recommended if your location's purpose isn't immediately obvious from the title. After clicking
        Create you will be re-directed to that location's home page.
    </p>
    <p>
        Each location has its own home page, with its own navigation links. You can access a location's home page by
        clicking the location name in any of the search pages, or the list of your Locations on the Manage Locations
        page. To modify a location, you must be a maintainer for that location. If you created that location, then you
        are automatically a maintainer. Other users can be added as maintainers on the "Update/Delete Location" page
    </p>
    <p>
        Once you are a maintainer, you can see and modify all stock, services and farms for that location. Click the
        "Modify" button on any record to update or delete it. New records can be added with the "Add Stock", "Add
        Service" and "Add Farm" links.
    </p>
{% endblock %}
