{% extends 'components/base.html' %}
{% load markdownify %}
{% block content %}
    <form action="{% url 'list_locations' %}" method="get">
    <fieldset>
    <legend>Browse by Name and Region</legend>
    <p>The <em>Location</em> field will search for location names and descriptions</p>
    <p>The <em>Region</em> filter is an OR filter. eg: Nether and End will show you locations from both dimensions</p>
        <table>
            <tr>
                <td><label for="name">Location: </label></td>
                <td><input autocomplete="off" id="name" name="search" list="location_suggestions"
                           placeholder="Find Location..." value="{{ search_term }}"><br></td>
            </tr>
            <tr>
                <td><label for="region">Region: </label></td>
                <td><select class="chosen-select-width" name="region" id="region" data-placeholder="Select Regions..." multiple>
                    <option value=""></option>
                    {% for region in regions %}
                        <option value="{{ region }}">{{ region }}
                    {% endfor %}
                </select></td>
            </tr>
        <tr>
            <td>Near Co-ordinates:</td>
            <td>
                <input type="number" id="x_pos" name="x_pos" placeholder="X" size="5%" value="{{ search_x_pos }}">
                <input type="number" id="z_pos" name="z_pos" placeholder="Z" size="5%" value="{{ search_z_pos }}">
            </td>
        </tr>
        </table>
        <input class="btn btn-success" type="submit" value="Search">
        <button class="btn btn-info" type="submit" value="YES" name="all">All</button>
        <datalist id="location_suggestions">
            {% for name in location_suggestions %}
                <option value="{{ name }}">
            {% endfor %}
        </datalist>
    </fieldset>
    </form>
    <div class="row">
        <div class="col"><h3>Name</h3></div>
        <div class="col"><h3>Description</h3></div>
    </div>
    {% for location in all_locations %}
        <div class="content-item">
            <div class="row">
                <div class="col">
                    <div class="row"><a href="{% url 'get_location' location.id %}"><p>{{ location.name }}</p>
                    </a></div>
                    <div class="row"><p>Location: {{ location.x_pos }}/{{ location.y_pos }}/{{ location.z_pos }}
                        ({{ location.region }})</p></div>
                </div>
                <div class="col">
                    <p>{{ location.description|markdownify }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
    {% include 'components/pagination.html' %}
    {% include 'components/chosen_scripts.html' %}
    <script>
        $(document).ready(function () {
            $('#region').val({{ search_region|safe }}).trigger('chosen:updated');
        });
    </script>
{% endblock %}
