{% extends 'components/standard_page.html' %}
{% block content %}
    <form action="{% url 'list_services' %}" method="get">
        <fieldset>
            <legend>Browse by Service</legend>
            <table>
                <tr>
                    <th></th>
                    <th class="wide-row"></th>
                </tr>
                <tr>
                    <td><label for="search">Service: </label></td>
                    <td><input autocomplete="off" name="search" id="search" list="service_suggestions" class="search-term"
                               placeholder="Find Services..." value="{{ search_term }}">
                        <datalist id="service_suggestions">
                            {% for name in service_suggestions %}
                                <option value="{{ name }}">
                            {% endfor %}
                        </datalist>
                    </td>
                </tr>
            </table>
            <input class="btn btn-success" type="submit" value="Search">
            <button class="btn btn-info" type="submit" value="YES" name="all">All</button>
        </fieldset>

    </form>
    {% include 'components/list_services.html' %}
    {% include 'components/pagination.html' %}
{% endblock %}