{% extends 'components/standard_page.html' %}
{% block content %}
    <form action="{% url 'list_farms' %}" method="get">
        <fieldset>
            <legend>Browse by Item, Mob or XP</legend>
            <p>As with Browse Shops, the <em>Item</em> filter will do a broad search of related items when looking for farms.</p>
            <p>
                The <em>Item</em>, <em>Mob</em> and <em>XP</em> filers are AND filters.
                For example, searching for Item=String and Mob=Spider will return only spider farms where you can take
                the string.
                Mob-only spider farms will be omitted.
            </p>
            <table>
                <tr>
                    <th></th>
                    <th class="wide-row"></th>
                </tr>
                <tr>
                    <td><label for="name">Item: </label></td>
                    <td><input autocomplete="off" id="name" name="search" list="item_suggestions" class="search-term"
                               placeholder="Farm Item..." value="{{ search_term }}"><br></td>
                </tr>
                <tr>
                    <td><label for="mob">Mob: </label></td>
                    <td><select class="chosen-select-width" name="mob" id="mob" data-placeholder="Farm Mob..."
                                multiple>
                        <option value=""></option>
                        {% for name in mobs %}
                            <option value="{{ name }}">{{ name }}
                        {% endfor %}
                    </select></td>
                </tr>
                <tr>
                    <td><label for="xp">XP Farm:</label></td>
                    <td><input type="checkbox" id="xp" name="xp"></td>
                </tr>
            </table>
            <datalist id="item_suggestions">
                {% for name in item_suggestions %}
                    <option value="{{ name }}">
                {% endfor %}
            </datalist>

            <input class="btn btn-success" type="submit" value="Search">
            <button class="btn btn-info" type="submit" value="YES" name="all">All</button>
        </fieldset>
    </form>
    {% include 'components/list_farms.html' %}
    {% include 'components/pagination.html' %}
    {% include 'components/chosen_scripts.html' %}
    <script>
        $(document).ready(function () {
            $('#mob').val({{ search_mob|safe }}).trigger('chosen:updated');
            {% if search_xp %}
                $('#xp').prop("checked", true);
            {% endif %}
        });
    </script>
{% endblock %}