{% extends 'components/base.html' %}
{% block content %}
    <h1>You are not authorised to view that page</h1>
    <p>
        To modify any location, stock or service, you must be a Maintainer of that location. Only an existing maintainer
        can add you to that location. They are listed on the location's page.
    </p>
    <p>
        If you are the genuine owner of a location, and have deleted all Maintainers from that location, the steps to
        recovery are:
    </p>
    <ol>
        <li>Feel Silly</li>
        <li>Contact Cookiehook#1528 on Discord</li>
    </ol>

{% endblock %}
