.title-logo {
    width: 80%;
}

.tt-logo {
    width: 9%;
}

.title-bar {
    padding-top: 5px;
}

body {
    background: url("images/bg_clouds2.webp") no-repeat center 0,
    url("images/bg_ground_tile2.webp") repeat-x center 0,
    url("images/bg_black_tile.png") repeat top;
}

.topmast::before {
    content: "";
    height: 14px;
    background: url("images/mcf_top_brown_bar.webp");
    background-size: cover;
    width: 100%;
    display: table;

}

.topmast {
    background: #fff;
    border-radius: 5px;
    padding: 0;
}

.content {
    padding: 15px;
}

.content-item {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border: solid 1px #a2a2a2;
    background: #f2f2f2;
}

.row {
    margin-left: 2%;
    margin-right: 2%;
}

.stack-icon {
    display: block;
    width: 64px;
}

.wide-row {
    width: 85%;
}

.search-term {
    width: 100%;
}

svg {
    background-image: url("images/sd_map.png");
    background-repeat: no-repeat;
    /*background-position: center;*/
    background-size: cover;
}

svg polyline {
    fill: none;
    stroke: #9132a8;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 4;
}

svg circle {
    fill: #ff0000
}
