{% extends "base.html" %}
{% block content %}
    <h1>Welcome TitanCrafters!</h1>
    <p>
        Welcome to your one-stop-shop for information about the Titancraft server.
        Please read the instructions below in order to use this site.
    <p>
        This site is run by Cookiehook, with assistance from the lovely Titancraft community.
        Please do not ask the Titancraft mods for support, they will not be able to help.
        If you think a record for a shop/farm is wrong, please contact the shop/farm staff.
        If you are having difficulty using this site, please contact Cookiehook on Discord.
    </p>
    <p>
        To create an account, click the "Log In" button in the top-right corner of this site.
        This will take you to the Discord authorisation page, where you will be asked to Authorise the titancraft-shop
        app.
        This allows the site to check that you are part of the Titancraft server before allowing access. Click Authorise
        to continue.
        Access can be revoked at any time by going to accessing Settings -> Authorised Apps in Discord.
    </p>
    <p>
        You will not be able to access any other parts of the site until you have created an account.
    </p>
    {% if user.is_authenticated %}
        <div class="row">
            <div class="col">
                <div class="card h-100">
                    <div class="card-header"><a class="stretched-link" href="{% url 'get_all_stock' %}"><h2>Browse Stock</h2></a></div>
                    <div class="card-body">
                        <p>
                            Find what you want to buy on the Titancraft server. Search by item, enchantment or block pallet.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-header"><a class="stretched-link" href="{% url 'get_all_services' %}"><h2>Browse Services</h2></a></div>
                    <div class="card-body">
                        <p>
                            Do you need shops built, chunks mined or chest-monsters defeated?<br>
                            Check the available services here!</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-header"><a class="stretched-link" href="{% url 'get_all_businesses' 'Farm' %}"><h2>Find Farm</h2></a></div>
                    <div class="card-body"><p>Find locations of community farms.</p></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card h-100">
                    <div class="card-header"><a class="stretched-link" href="{% url 'get_all_businesses' 'Shop' %}"><h2>Find Shop</h2></a></div>
                    <div class="card-body"><p>Find location, staff and stock information about a particular shop.</p></div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-header"><a class="stretched-link" href="{% url 'get_all_businesses' 'Location' %}"><h2>Find Location</h2></a></div>
                    <div class="card-body"><p>Find community builds such as End Portals, Entertainment District, Trading Halls etc.</p></div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="card-header"><a class="stretched-link" href="{% url 'get_my_businesses' %}"><h2>Manage Locations</h2></a></div>
                    <div class="card-body"><p>Manage any shops, farms or locations you own</p></div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}