{% extends "base.html" %}
{% block content %}
<h1>Welcome TitanCrafters!</h1>
<p>
    Welcome to your one-stop-shop for information about what's for sale on the Titancraft server.
    Please read the instructions below in order to use this site.
<p>
    This site is run by Cookiehook, with assistance from the lovely Titancraft community.
    Please do not ask the Titancraft mods for support, they will not be able to help.
</p>
<p>
    If you think a record for a shop/farm is wrong, please contact the shop/farm staff.
    If you are having difficulty using this site, please contact Cookiehook on Discord.
</p>

<div class="row" align="left">
    <h2>Log In</h2>
    <p>
        To create an account, click the "Log In" button in the top-right corner of this site.
        This will take you to the Discord authorisation page, where you will be asked to Authorise the titancraft-shop app.
        This allows the site to check that you are part of the Titancraft server before allowing access. Click Authorise to continue.
        Access can be revoked at any time by going to accessing Settings -> Authorised Apps in Discord.
    </p>
    <p>
        You will not be able to access any other parts of the site until you have created an account.
    </p>
    <h2>Create a Shop or Farm</h2>
    <p>
        If you run a public shop or farm, click on the "My Businesses" button in the top-right corner of the page.
        From there you will be able to create a record for your shop/farm. You will automatically be added as a staff member.
        To add or update the stock in one of your shops, select your shop from the list and follow the instructions from there.
        When people search for stock, the results are ordered based on when that stock was last update on the site. So do
        keep this page up to date, it's in your best interest as a business owner!
    </p>
    <p>
        If you share a shop with another member, you can add them as a staff member. They will then be able to add new stock
        listings to your shop on your behalf
    </p>


    <h2>Search for Items or Services</h2>
    <p>Multiple options are available in the top-right corner for you to browse what is on offer on Titancraft: </p>
    <ul>
        <li>Browse Farms - See a list of all public farms</li>
        <li>Browse Items - See a list of all items being sold at any shops</li>
        <li>Browse Services - See a list of all services offered at any shops</li>
        <li>Browse Shops - See a list of all shops and their locations</li>
    </ul>
    <p>
        Click on the option you want, and use the search bar on each page to find what you're looking for.
        If an item is out of stock, or doesn't match what is currently in stock, you can edit the number of units available
        yourself to help other members out. However, only shop owners can change the items and price.
    </p>
</div>
{% endblock %}