{% extends 'components/base.html' %}
{% block content %}
    <div class="d-flex justify-content-center">
        <form action="{% url 'list_stock' %}" method="get">
            <fieldset>
                <legend>Browse by Item</legend>
                <table>
                    <tr>
                        <td><label for="name">Item: </label></td>
                        <td><input autocomplete="off" id="name" name="search" list="item_suggestions" size="60%" placeholder="I want to buy..."><br></td>
                    </tr>
                    <tr>
                        <td><label for="enchantment">Enchantment: </label></td>
                        <td><input autocomplete="off" id="enchantment" name="enchantment" list="enchantment_suggestions" size="60%" placeholder="With Enchantment..."></td>
                    </tr>
                    <tr>
                        <td><label for="potion">Potion Effect: </label></td>
                        <td><input autocomplete="off" id="potion" name="potion" list="potion_suggestions" size="60%" placeholder="With Potion..."></td>
                    </tr>
                </table>
                <datalist id="item_suggestions">
                    {% for name in item_suggestions %}
                        <option value="{{ name }}">
                    {% endfor %}
                </datalist>
                <datalist id="enchantment_suggestions">
                    {% for name in enchantment_suggestions %}
                        <option value="{{ name }}">
                    {% endfor %}
                </datalist>
                <datalist id="potion_suggestions">
                    {% for name in potion_suggestions %}
                        <option value="{{ name }}">
                    {% endfor %}
                </datalist>
                <input class="btn btn-success" type="submit" value="Search">
                <button class="btn btn-info" type="submit" value="YES" name="all">All Items</button>
            </fieldset>
            <fieldset>
                <legend>Browse by Category:</legend>
                {% for class in all_classes %}
                    <button class="btn btn-light" type="submit" value="{{ class }}" name="class">{{ class }}</button>
                {% endfor %}
            </fieldset>


        </form>
    </div>
    {% include 'components/list_stock.html' %}
    {% include 'components/pagination.html' %}
{% endblock %}
