<div class="row">
    {% if include_business %}
        <div class="col-sm-2"><h3>{{ business_type }} Name</h3></div>
    {% endif %}
    <div class="col-sm-2"><h3>Service</h3></div>
    <div class="col-sm-8"><h3>Description</h3></div>
</div>
{% for service in services %}
    <div class="content-item">
        <div class="row">
            {% if include_business %}
                <div class="col-sm-2">
                    <div class="row"><a href="{% url 'get_single_business' service.business.slug %}"><p>{{ service.business.name }}</p></a></div>
                    <div class="row"><p>Location: {{ business.x_pos }}/{{ business.y_pos }}/{{ business.z_pos }} ({{ business.dimension }})</p></div>
                </div>
            {% endif %}
            <div class="col-sm-2"><p>{{ service.name }}</p></div>
            <div class="col-sm-8"><p>{{ service.description }}</p></div>
        </div>
    </div>
{% endfor %}
