<div class="d-flex justify-content-center">
    <form method="get">
        <input autocomplete="off" name="search" list="search_suggestions" size="60%" placeholder="{{ search_placeholder }}">
        <datalist id="search_suggestions">
            {% for name in search_suggestions %}
                <option value="{{ name }}">
            {% endfor %}
        </datalist>
        <input class="btn btn-success" type="submit" value="Search">
        <button class="btn btn-info" type="submit" value="YES" name="all">All</button>
    </form>
</div>
