<div class="d-flex justify-content-center">
    <form action="{{ form_action }}" method="get">
        <input autocomplete="off" name="search" list="minecraft_items" size="60%" placeholder="{{ search_placeholder }}">
        <datalist id="minecraft_items">
            {% for name in items %}
            <option value="{{ name }}">
                {% endfor %}
        </datalist>
        <input type="submit" value="Search">
        <button type="submit" value="YES" name="all">All</button>
    </form>
</div>
